.top-decoration-circle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -70%);
    @media (min-width: 700px) {
        transform: translate(-50%, -75%) scale(1.25) ;
    }
    @media (min-width: 1024px) {
        left: 100%;
        transform: translate(-82%, -22%);
    }
}

.home-page-header {
    @media (min-width: 1024px) {
        padding-bottom: 20px;
    }
}

.home-page-section {
    max-width: 90%;
    margin: 0 auto 80px;
    @media (min-width: 700px) {
        max-width: 75%;
        margin-bottom: 100px;
    }
    @media (min-width: 1024px) {
        max-width: 80%;
    }
}

@mixin desktop-section-flex-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between
}

@mixin desktop-section-text-wrapper {
    align-items: stretch;
    gap: 16px;
    max-width: 450px;
    text-align: left;
}

.section-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
}

.start-section {
    @media (min-width: 1024px) {
        @include desktop-section-flex-container();
        & .section-text-wrapper {
            @include desktop-section-text-wrapper();
        }
    }
    @media (min-width: 1280px) {
        margin-bottom: 0px;
        & .section-text-wrapper {
            margin-top: -55px; 
            max-width: 550px;
        }
    }
}

.start-section-header {
    @media (min-width: 1280px) {
        font-size: 4.8em;
        margin-bottom: 10px;
    }
}

.start-section-svg {
    max-width: 205px;
    position: relative;
    left: 50%;
    margin-top: -50px;
    z-index: 10;
    transform: translateX(-44%);
    @media (min-width: 500px) {
        max-width: 265px;
    }
    @media (min-width: 1024px) {
        left: unset;
        transform: unset;
        margin-top: 0;
    }
    @media (min-width: 1280px) {
        max-width: 430px;
    }
}

.partners-section-wrapper {
    position: relative;
    overflow: hidden;
    background-color: #1B262F;
    color: #ffffff;
    margin-bottom: 80px;
    @media (min-width: 700px) {
        margin-bottom: 100px;
    }
}

.partners-section-decor-circle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -77%);
    @media (min-width: 700px) {
        transform: translate(-50%, -70%);
    }
    @media (min-width: 1280px) {
        left: 0;
        transform: translate(-30%, -46%);
    }
}

.partners-section {
    position: relative;
    z-index: 10;
    padding-top: 80px;
    @media (min-width: 700px) and (max-width: 1279px) {
        & .section-text-wrapper {
            padding: 0 50px;
        }
    }
    @media (min-width: 1280px) {
        @include desktop-section-flex-container();
        padding-top: 100px;
        & .section-text-wrapper {
            @include desktop-section-text-wrapper();
        }
    }
}

.partners-logos-container {
    margin-bottom: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    @media (min-width: 700px) {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 65px;
    }
    @media (min-width: 1280px) {
        margin-bottom: 0;
    }
}

.partners-logo {
    transform: scale(.85);
    @media (min-width: 700px) {
        transform: scale(1);
    }
}

.partners-section-header {
    color: inherit;
}

.partners-section-text {
    opacity: .7;
    margin-bottom: 36px;
    @media (min-width: 700px) {
        margin-bottom: 8px;
    }
}

.partners-section-btn {
    @media (min-width: 1280px) {
        align-self: start;
    }
}

.easy-implement-section,
.simple-ui-section {
    @media (min-width: 1280px) {
        @include desktop-section-flex-container();
        flex-direction: row;
        margin-bottom: 35px;
        & .section-text-wrapper {
            @include desktop-section-text-wrapper();
            margin-top: -28px;
        }
    }
}

.easy-implement-svg,
.simple-ui-svg {
    width: 400px;
    margin-top: -55px;
    position: relative;
    left: 50%;
    transform: translateX(-46%);
    @media (min-width: 700px) {
        width: 500px;
    }
    @media (min-width: 1280px) {
        width: 600px;
        margin-top: 0;
        left: -55px;
        transform: unset;
    }
}

.easy-implement-section {
    @media (min-width: 1280px) {
        justify-content: stretch;
        gap: 0px;
    }
}

.simple-ui-section {
    @media (min-width: 1280px) {
        position: relative;
        flex-direction: row-reverse;
    }
}

.simple-ui-svg {
    @media (min-width: 1280px) {
        width: 700px;
        left: 92px;
    }
}

.simple-ui-circle {
    display: none;
    @media (min-width: 1280px) {
        display: inline-block;
        position: absolute;
        right: -50%;
        transform: translateY(-5%);
    }
}

.info-section {
    @media (min-width: 700px) and (max-width: 1279px) {
        max-width: 90%;
    }
    @media (min-width: 700px) {
        @include desktop-section-flex-container();
        align-items: stretch;
        flex-direction: row;
        gap: 15px;
    }
    @media (min-width: 1028px) {
        gap: 30px;
    }
}

.info-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 48px;
    @media (min-width: 700px) {
        margin-bottom: 0;
        flex-basis: 0;
        flex-grow: 1;
    }
}

.info-svg {
    width: 106px;
    margin-bottom: 16px;
    @media (min-width: 700px) and (max-width: 1279px) {
        width: 88px;
    }
}